qt-notification/android/.gradle/5.6.4/gc.properties
qt-notification/android/.gradle/5.6.4/fileChanges/last-build.bin
qt-notification/android/.gradle/5.6.4/fileHashes/fileHashes.lock
qt-notification/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
qt-notification/android/.gradle/buildOutputCleanup/cache.properties
qt-notification/android/.gradle/vcs-1/gc.properties
.vscode/c_cpp_properties.json
.vscode/settings.json
